html {
  background-color: #2b2a33;
  font-family: 'roboto', sans-serif;
  width: 100dvw;
  height: 100dvh;
}

* {
  box-sizing: border-box;
}

:root {
  --font-small: 12px;
  --font-medium: 16px;
  --font-large: 18px;
  --font-xlarge: 24px;
  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;
}

body {
  font-size: var(--font-medium);
  color: var(--text-primary);

  margin: 0;
  inset: 0;
}

body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}